.slipgaji {
  margin-top: 50px !important;
  margin-left: 300px !important;
  margin-right: 300px !important;
  padding-top: 30px !important;
  padding-left: 100px !important;
  padding-right: 100px !important;
  padding-bottom: 50px !important;
  border-style: ridge;
}

.slipgaji th {
  border: none !important;
  font-weight: normal;
}

.verticalLine {
  border-left: thick solid #ff0000;
}
.slipgaji .border {
  border: none;
  height: 1px;
  color: #333;
  background-color: #333;
}

.slipgaji .right {
  text-align: right !important;
}
.slipgaji .gajibersih {
  background-color: #cbcaca;
  border-style: solid;
}

.slipgaji .totalab {
  border-top: 5px solid black;
}

.slipgaji .ttd {
  background-color: #ff0000;
}
